<ul id="menu">
    <li><a href="~/Home/Index">Home</a></li>
    <li><a href="~/Home/Feedback">Feedback</a></li>
    <li><a href="~/Home/Registration">Registration</a></li>
    <li><a href="~/Home/Login">Login</a></li>
    <li><a href="~/Admin/Index">Admin</a></li>
    <li><a href="~/Home/Contact">contact</a></li>
</ul>